@import '../assets/assets.scss';

*{
    margin: 0;
    padding: 0;
}

.home{
    font-family: $font-primary;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #041C32;
    &__info{
        border-radius: 10px;
        padding: 10px;
        background-color: #04293A;
    }
}
