@import '../../assets/assets.scss';
*{
    margin: 0;
    padding: 0;
}

.loadingScreen{
    width: 70vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/media/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
}
@media only screen and (min-width: 1112px){
    .loadingScreen{
        width: 40vw;
    }
}
.result{
    border-radius: 15px;
    width: 100%;
    color: #ECB365;
    font-family: inherit;
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__info{
        color: #041C32;
        font-family: inherit;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        &-left{
            background-position: center;
            background-size: cover;
            padding: 10px;
            font-family: inherit;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            &-bottom{
                display: flex;
            }
        }
        &-right{
            color: #ECB365;
            font-family: inherit;
            padding: 10px;
            border-radius: 15px;
            flex: 2;
            &-bottom{
                font-family: inherit;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}


.rainy{
    background-image: url('../../assets/media/rainy.gif');
}
.cloudy{
    background-image: url('../../assets/media/cloudy.gif');
}
.clear{
    background-image: url('../../assets/media/clear.gif');
}
.sunny{
    background-image: url('../../assets/media/sunny.gif');
}
.fog{
    background-image: url('../../assets/media/fog.gif');
}
.snow{
    background-image: url('../../assets/media/snow.gif');
}
.thunder{
    background-image: url('../../assets/media/thunder.gif');
}