.container{
    display: flex;
    justify-content: start;

}
.autocomplete-dropdown-container{
    background-color: darkgrey;
    color: white;
    position: fixed;
}
.location-search-input{
    color: white;
    width: 200px;
    height: 15px;
    padding: 7px;
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
    border-radius: 15px;
    &:focus{
        text-decoration: none;
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}