.container{
    display: flex;
    justify-content: start;

}
.autocomplete-dropdown-container{
    background-color: darkgrey;
    color: white;
    position: fixed;
}
.location-search-input{
    color: #ECB365;
    width: 200px;
    height: 15px;
    padding: 7px;
    border: 1px solid #04293A;
    cursor: pointer;
    background-color: #041C32;
    border-radius: 15px;
    &:focus{
        color: #041C32;
        background-color: #ECB365;
        border: none;
    }
}